.login-form {
	text-align: center;
}

.appbar-login {
	text-shadow: none;
	text-align: right;
}

p {
	font-size: 1.25em;
	font-family: 'Roboto', sans-serif;
	font-weight: 300;
	color: #717D7E;	
	text-shadow: none;
	margin-top: 20px;
	margin-bottom: 0;
}